In [1]:
import numpy as np
import pandas as pd 

from pandas import Series, DataFrame

In [10]:
gplay=pd.read_csv("/content/pets_final.csv")
gplay

,Unnamed: 0,Title,Published_date,Views,Likes,Comments,Month,ID,CHANNEL ID NOT REQ?,TN/CC
0,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-07-06T19:22:16Z,53761,307,19,Jul,__x3U0JD5Uk,UCZ-oMIRggrNuzsWLtNFXBXw,1_0
1,1,Funniest & Cutest Golden Retriever Puppies - 3...,2022-07-01T14:11:40Z,227243,1400,58,Jul,mpIgD_xLsYo,UCZ-oMIRggrNuzsWLtNFXBXw,1_1
2,2,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-06-25T17:06:08Z,491409,2544,159,Jun,sOFa--KhbbY,UCZ-oMIRggrNuzsWLtNFXBXw,1_2
3,3,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-06-19T18:19:53Z,286150,1794,108,Jun,ZmknAhRjjlM,UCZ-oMIRggrNuzsWLtNFXBXw,1_3
4,4,Funniest & Cutest Golden Retriever Puppies - 3...,2022-06-13T10:05:20Z,250173,1550,56,Jun,BGWS294ovHM,UCZ-oMIRggrNuzsWLtNFXBXw,1_4
...,...,...,...,...,...,...,...,...,...,...
2862,2862,Capuchin Monkey Fun! (MONKEY MONDAY),2020-01-14T01:02:04Z,78860,2888,369,Jan,jzNdNLdTsp8,NaN,13_280
2863,2863,Capuchin Monkey Opens Mail With His Girlfriend...,2020-01-09T05:08:41Z,98135,2697,426,Jan,2JVYFk8mCJ0,NaN,13_281
2864,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,2020-01-06T21:29:27Z,186021,4696,637,Jan,SioJYCTvqTo,NaN,13_282
2865,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,2020-01-04T01:23:35Z,56971,2160,278,Jan,zkwlS3QN33g,NaN,13_283
2866,2866,Capuchin Monkey New Year Toast!,2020-01-02T20:38:35Z,39588,2196,330,Jan,x8kP_7cAQHA,NaN,13_284

In [11]:
gplay.drop('CHANNEL ID NOT REQ?', inplace=True, axis=1)
gplay

,Unnamed: 0,Title,Published_date,Views,Likes,Comments,Month,ID,TN/CC
0,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-07-06T19:22:16Z,53761,307,19,Jul,__x3U0JD5Uk,1_0
1,1,Funniest & Cutest Golden Retriever Puppies - 3...,2022-07-01T14:11:40Z,227243,1400,58,Jul,mpIgD_xLsYo,1_1
2,2,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-06-25T17:06:08Z,491409,2544,159,Jun,sOFa--KhbbY,1_2
3,3,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-06-19T18:19:53Z,286150,1794,108,Jun,ZmknAhRjjlM,1_3
4,4,Funniest & Cutest Golden Retriever Puppies - 3...,2022-06-13T10:05:20Z,250173,1550,56,Jun,BGWS294ovHM,1_4
...,...,...,...,...,...,...,...,...,...
2862,2862,Capuchin Monkey Fun! (MONKEY MONDAY),2020-01-14T01:02:04Z,78860,2888,369,Jan,jzNdNLdTsp8,13_280
2863,2863,Capuchin Monkey Opens Mail With His Girlfriend...,2020-01-09T05:08:41Z,98135,2697,426,Jan,2JVYFk8mCJ0,13_281
2864,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,2020-01-06T21:29:27Z,186021,4696,637,Jan,SioJYCTvqTo,13_282
2865,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,2020-01-04T01:23:35Z,56971,2160,278,Jan,zkwlS3QN33g,13_283
2866,2866,Capuchin Monkey New Year Toast!,2020-01-02T20:38:35Z,39588,2196,330,Jan,x8kP_7cAQHA,13_284

In [12]:
gplay.drop('ID', inplace=True, axis=1)
gplay

,Unnamed: 0,Title,Published_date,Views,Likes,Comments,Month,TN/CC
0,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-07-06T19:22:16Z,53761,307,19,Jul,1_0
1,1,Funniest & Cutest Golden Retriever Puppies - 3...,2022-07-01T14:11:40Z,227243,1400,58,Jul,1_1
2,2,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-06-25T17:06:08Z,491409,2544,159,Jun,1_2
3,3,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,2022-06-19T18:19:53Z,286150,1794,108,Jun,1_3
4,4,Funniest & Cutest Golden Retriever Puppies - 3...,2022-06-13T10:05:20Z,250173,1550,56,Jun,1_4
...,...,...,...,...,...,...,...,...
2862,2862,Capuchin Monkey Fun! (MONKEY MONDAY),2020-01-14T01:02:04Z,78860,2888,369,Jan,13_280
2863,2863,Capuchin Monkey Opens Mail With His Girlfriend...,2020-01-09T05:08:41Z,98135,2697,426,Jan,13_281
2864,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,2020-01-06T21:29:27Z,186021,4696,637,Jan,13_282
2865,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,2020-01-04T01:23:35Z,56971,2160,278,Jan,13_283
2866,2866,Capuchin Monkey New Year Toast!,2020-01-02T20:38:35Z,39588,2196,330,Jan,13_284

In [13]:
gplay.drop('Published_date', inplace=True, axis=1)
gplay

,Unnamed: 0,Title,Views,Likes,Comments,Month,TN/CC
0,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,53761,307,19,Jul,1_0
1,1,Funniest & Cutest Golden Retriever Puppies - 3...,227243,1400,58,Jul,1_1
2,2,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,491409,2544,159,Jun,1_2
3,3,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,286150,1794,108,Jun,1_3
4,4,Funniest & Cutest Golden Retriever Puppies - 3...,250173,1550,56,Jun,1_4
...,...,...,...,...,...,...,...
2862,2862,Capuchin Monkey Fun! (MONKEY MONDAY),78860,2888,369,Jan,13_280
2863,2863,Capuchin Monkey Opens Mail With His Girlfriend...,98135,2697,426,Jan,13_281
2864,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,186021,4696,637,Jan,13_282
2865,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,56971,2160,278,Jan,13_283
2866,2866,Capuchin Monkey New Year Toast!,39588,2196,330,Jan,13_284

In [14]:
gplay.drop('TN/CC', inplace=True, axis=1)
gplay

,Unnamed: 0,Title,Views,Likes,Comments,Month
0,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,53761,307,19,Jul
1,1,Funniest & Cutest Golden Retriever Puppies - 3...,227243,1400,58,Jul
2,2,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,491409,2544,159,Jun
3,3,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,286150,1794,108,Jun
4,4,Funniest & Cutest Golden Retriever Puppies - 3...,250173,1550,56,Jun
...,...,...,...,...,...,...
2862,2862,Capuchin Monkey Fun! (MONKEY MONDAY),78860,2888,369,Jan
2863,2863,Capuchin Monkey Opens Mail With His Girlfriend...,98135,2697,426,Jan
2864,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,186021,4696,637,Jan
2865,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,56971,2160,278,Jan
2866,2866,Capuchin Monkey New Year Toast!,39588,2196,330,Jan

In [15]:
gplay.dropna(inplace=True)
gplay

,Unnamed: 0,Title,Views,Likes,Comments,Month
0,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,53761,307,19,Jul
1,1,Funniest & Cutest Golden Retriever Puppies - 3...,227243,1400,58,Jul
2,2,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,491409,2544,159,Jun
3,3,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,286150,1794,108,Jun
4,4,Funniest & Cutest Golden Retriever Puppies - 3...,250173,1550,56,Jun
...,...,...,...,...,...,...
2862,2862,Capuchin Monkey Fun! (MONKEY MONDAY),78860,2888,369,Jan
2863,2863,Capuchin Monkey Opens Mail With His Girlfriend...,98135,2697,426,Jan
2864,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,186021,4696,637,Jan
2865,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,56971,2160,278,Jan
2866,2866,Capuchin Monkey New Year Toast!,39588,2196,330,Jan

In [19]:
gplay.iloc[:,1:4]

                                                  Title   Views  Likes
0     Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...   53761    307
1     Funniest & Cutest Golden Retriever Puppies - 3...  227243   1400
2     Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...  491409   2544
3     Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...  286150   1794
4     Funniest & Cutest Golden Retriever Puppies - 3...  250173   1550
...                                                 ...     ...    ...
2862               Capuchin Monkey Fun! (MONKEY MONDAY)   78860   2888
2863  Capuchin Monkey Opens Mail With His Girlfriend...   98135   2697
2864         Cute Capuchin Monkey Eats a Tasty Ice Pop!  186021   4696
2865  Capuchin Monkey Boyfriend & Girlfriend PlayTim...   56971   2160
2866                    Capuchin Monkey New Year Toast!   39588   2196

[2867 rows x 3 columns]

In [20]:
print(gplay.shape)

(2867, 6)

In [21]:
gplay

,Unnamed: 0,Title,Views,Likes,Comments,Month
0,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,53761,307,19,Jul
1,1,Funniest & Cutest Golden Retriever Puppies - 3...,227243,1400,58,Jul
2,2,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,491409,2544,159,Jun
3,3,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,286150,1794,108,Jun
4,4,Funniest & Cutest Golden Retriever Puppies - 3...,250173,1550,56,Jun
...,...,...,...,...,...,...
2862,2862,Capuchin Monkey Fun! (MONKEY MONDAY),78860,2888,369,Jan
2863,2863,Capuchin Monkey Opens Mail With His Girlfriend...,98135,2697,426,Jan
2864,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,186021,4696,637,Jan
2865,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,56971,2160,278,Jan
2866,2866,Capuchin Monkey New Year Toast!,39588,2196,330,Jan

In [22]:
gplay1 = gplay.set_index("Month")

In [23]:
gplay1.loc["Jul"]

,Unnamed: 0,Title,Views,Likes,Comments
Month,,,,,
Jul,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,53761,307,19
Jul,1,Funniest & Cutest Golden Retriever Puppies - 3...,227243,1400,58
Jul,61,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,552211,986,29
Jul,62,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,1329955,2228,87
Jul,63,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,5921954,24213,314
...,...,...,...,...,...
Jul,2744,Monkey Inhales Banana!,40046,2367,439
Jul,2745,Capuchin MonkeyBoo Show! GIANT Fan Mail Haul T...,42524,1737,279
Jul,2746,Monkey Catches Football! Monkey Jumps and Tick...,48364,2517,532
Jul,2747,Monkey Eats Home Made BlueBerry Popsicle! (Sha...,76391,3306,529
Jul,2748,Monkey Visits AutoBell!,52439,2610,461

In [25]:
gplay1.loc["Jan"]

,Unnamed: 0,Title,Views,Likes,Comments
Month,,,,,
Jan,30,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,482445,1499,62
Jan,31,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,1639955,10586,432
Jan,32,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,292798,1209,51
Jan,33,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,226077,945,26
Jan,34,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,96830,590,61
...,...,...,...,...,...
Jan,2862,Capuchin Monkey Fun! (MONKEY MONDAY),78860,2888,369
Jan,2863,Capuchin Monkey Opens Mail With His Girlfriend...,98135,2697,426
Jan,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,186021,4696,637
Jan,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,56971,2160,278
Jan,2866,Capuchin Monkey New Year Toast!,39588,2196,330

In [26]:
gplay1 = gplay.set_index("Likes")

In [27]:
gplay.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2867 entries, 0 to 2866
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2867 non-null   int64
 1   Title       2867 non-null   object
 2   Views       2867 non-null   int64
 3   Likes       2867 non-null   int64
 4   Comments    2867 non-null   int64
 5   Month       2867 non-null   object
dtypes: int64(4), object(2)
memory usage: 221.3+ KB

In [28]:
gplay.describe()

        Unnamed: 0         Views         Likes      Comments
count  2867.000000  2.867000e+03  2.867000e+03   2867.000000
mean   1433.000000  1.404650e+06  1.433629e+04    598.698291
std     827.775936  6.515931e+06  5.369222e+04   1933.466988
min       0.000000  7.650000e+02  0.000000e+00      0.000000
25%     716.500000  6.167250e+04  1.783500e+03     73.000000
50%    1433.000000  1.556150e+05  3.342000e+03    167.000000
75%    2149.500000  6.655890e+05  8.680500e+03    388.000000
max    2866.000000  1.824970e+08  1.408947e+06  40022.000000

In [35]:
gplay1 = gplay.set_index("Month")

In [36]:
gplay1.loc["Jul"]

,Unnamed: 0,Title,Views,Likes,Comments
Month,,,,,
Jul,0,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,53761,307,19
Jul,1,Funniest & Cutest Golden Retriever Puppies - 3...,227243,1400,58
Jul,61,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,552211,986,29
Jul,62,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,1329955,2228,87
Jul,63,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,5921954,24213,314
...,...,...,...,...,...
Jul,2744,Monkey Inhales Banana!,40046,2367,439
Jul,2745,Capuchin MonkeyBoo Show! GIANT Fan Mail Haul T...,42524,1737,279
Jul,2746,Monkey Catches Football! Monkey Jumps and Tick...,48364,2517,532
Jul,2747,Monkey Eats Home Made BlueBerry Popsicle! (Sha...,76391,3306,529
Jul,2748,Monkey Visits AutoBell!,52439,2610,461

In [33]:
gplay1.loc["Jun"]

KeyError: ignored

In [38]:
gplay_jan=gplay1.loc["Jan"]
gplay_jan

,Unnamed: 0,Title,Views,Likes,Comments
Month,,,,,
Jan,30,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,482445,1499,62
Jan,31,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,1639955,10586,432
Jan,32,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,292798,1209,51
Jan,33,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,226077,945,26
Jan,34,Baby Dogs ðŸ”´ Cute and Funny Dog Videos Compilat...,96830,590,61
...,...,...,...,...,...
Jan,2862,Capuchin Monkey Fun! (MONKEY MONDAY),78860,2888,369
Jan,2863,Capuchin Monkey Opens Mail With His Girlfriend...,98135,2697,426
Jan,2864,Cute Capuchin Monkey Eats a Tasty Ice Pop!,186021,4696,637
Jan,2865,Capuchin Monkey Boyfriend & Girlfriend PlayTim...,56971,2160,278
Jan,2866,Capuchin Monkey New Year Toast!,39588,2196,330

In [52]:
gplay_feb=gplay1.loc["Feb"]
print(gplay_feb.shape)

(257, 5)

In [53]:
gplay_mar=gplay1.loc["Mar"]
print(gplay_mar.shape)

(285, 5)

In [54]:
gplay_apr=gplay1.loc["Apr"]
print(gplay_apr.shape)

(307, 5)

In [55]:
gplay_may=gplay1.loc["May"]
print(gplay_may.shape)

(282, 5)

In [56]:
gplay_jun=gplay1.loc["Jun"]
print(gplay_jun.shape)

(269, 5)

In [58]:
gplay_jul=gplay1.loc["Jul"]
print(gplay_jul.shape)

(223, 5)

In [59]:
gplay_aug=gplay1.loc["Aug"]
print(gplay_aug.shape)

(182, 5)

In [60]:
gplay_sep=gplay1.loc["Sep"]
print(gplay_sep.shape)

(186, 5)

In [61]:
gplay_oct=gplay1.loc["Oct"]
print(gplay_oct.shape)

(217, 5)

In [62]:
gplay_nov=gplay1.loc["Nov"]
print(gplay_nov.shape)

(191, 5)

In [67]:
gplay_dec=gplay1.loc["Dec"]
print(gplay_dec.shape)
gplay_dec.shape[0]

(191, 5)

191

we can see the trend that in a year till april , number of video uploads increases after which it starts decreasing and stays low till the end and picks up again at end

In [76]:
l=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

In [83]:
sum = [0,0,0,0,0,0,0,0,0,0,0,0]
for i in range (12):
  for j in range (2867):
    if gplay['Month'][j] == l[i]:
      sum[i] += gplay['Views'][j]

print(sum)

[268881216, 580163747, 454629650, 428220745, 311987082, 427503599, 272201075, 199613265, 174570535, 326539696, 248601201, 334220871]

In [85]:
sum1 = [0,0,0,0,0,0,0,0,0,0,0,0]
for i in range (12):
  for j in range (2867):
    if gplay['Month'][j] == l[i]:
      sum1[i] += gplay['Likes'][j]

print(sum1)

[3499501, 6041215, 3431210, 4346465, 3390412, 4469043, 2717692, 2146417, 2125333, 3255449, 2779333, 2900074]

In [88]:
sum2 = [0,0,0,0,0,0,0,0,0,0,0,0]
for i in range (0,12):
  sum2[i]=(sum1[i]/sum[i])*100
print(sum2)

[1.2847829459234443, 1.0305636068634982, 0.7490729506991713, 1.004806859955936, 1.0750329571710022, 1.0345662121815575, 0.9885436449669512, 1.0638483262478575, 1.2028198644690435, 0.9871124694694944, 1.1056277730717208, 0.8602473512881259]

we can see that most views are gathered in the months of feb , march and april thus a creator should try to use the best thumbnails in these months as the audience for pets videos is most active in this season while the attraction dipped significantly in the months of august and september .
this analysis can also be backed by the likes/views percent as the pets and animals audience is most active in months of feb - apr . and thus this can be the cyclic boom season for our project/business